.cartLink a{
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 1rem;
}

.cartLink a:hover{
    border-bottom: 2px solid blue;
}

.search{
    border-radius: 5px;
    padding: 2px 4px;
}
.active{
    border-bottom: 2px solid blue;
    
}

@media screen and (max-width: 414px) {
    .cartLink{
        margin: auto;
    }
    .cartLink a{
        font-size: 1.5rem;
        text-decoration: none;
    }

    
    .search{
        width: 100%;
        margin-bottom: .5rem;
    }
    .cartLinks{
            flex-direction: column-reverse;
    }
}